*{
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    width: 550px;
    font-family: 'Inter', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #F55A5A;
    color: #ffffff;
    font-weight: 500;
}

.card{
    display: flex;
    border-bottom: 1px solid #F5F5F5;
    padding: 18px 0;
}

.card-country{
    letter-spacing: 2px;
}

.card-list{
    padding: 20px 36px;
    border: 1px solid rgba(145, 142, 155, 0.7);
    height: 660px;
}

.card-link{
    color: #918E9B;
    margin-left: 15px;
}

.card-location{
    display: flex;
    align-items: center;
}

.card-marker{
    width: 20px;
}

.card-image{
    width: 125px;
    height: 168px;
}

.card-content{
    font-size: 11px;
    padding: 5px 10px 5px 20px;
}

.card-title{
    font-size: 25px;
}
